In [ ]:
#Heroes of Pymoli analysis

The data collected shows that 84% of players are male. Females represent only 14.06% of the total players. However, the average total purchase per person shows females at the first position with $4.47, while the average male purchase per person is $4.06.
Concerning the age range, the 20-24 age range represents the 44.79% of players, which is the highest, followed by the 15-19 age range far, with 18.58% of players.
The most popular item is Final Critic, with 13 purchases, followed by Oathbreaker, Last Hope of the Breaking Storm.

In [12]:
import pandas as pd

In [13]:
file_to_load = "Resources/purchase_data.csv"

In [14]:
purchase_data = pd.read_csv(file_to_load)

In [15]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [16]:
#Player Count

In [17]:
total_players = purchase_data["SN"].nunique()
total_players

576

In [18]:
pd.DataFrame({"Total Players" :[total_players]}).style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'center')]}])

In [19]:
#Purchasing Analysis (Total)

In [20]:
unique_items_number = purchase_data["Item ID"].nunique()
unique_items_number

179

In [21]:
average_price = purchase_data["Price"].mean()
average_price

3.0509871794871795

In [22]:
number_purchases = purchase_data["Purchase ID"].count()
number_purchases

780

In [23]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [24]:
Data_Summary_df = pd.DataFrame({
    "Number of Unique Items" : [unique_items_number],
    "Average Price" : [average_price],
    "Number of Purchases" : [number_purchases],
    "Total Revenue" : [total_revenue]
})

In [25]:
Data_Summary_df["Average Price"] = Data_Summary_df["Average Price"].map("${:,.2f}".format)
Data_Summary_df["Total Revenue"] = Data_Summary_df["Total Revenue"].map("${:,.2f}".format)

In [26]:
Data_Summary_df[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'center')]}])

In [27]:
#Gender Demographics

In [28]:
gender_group = purchase_data.groupby(["Gender"])

In [29]:
male_gender_df = purchase_data[purchase_data["Gender"] == "Male"]

In [30]:
count_male = male_gender_df["SN"].nunique()
count_male

484

In [31]:
male_percentage = (count_male/total_players)*100
male_percentage

84.02777777777779

In [32]:
female_gender_df = purchase_data[purchase_data["Gender"] == "Female"]

In [33]:
count_female = female_gender_df["SN"].nunique()
count_female

81

In [34]:
female_percentage = (count_female/total_players)*100
female_percentage

14.0625

In [35]:
other_gender_df = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]

In [36]:
count_other = other_gender_df["SN"].nunique()
count_other

11

In [37]:
other_percentage = (count_other/total_players)*100
other_percentage

1.9097222222222223

In [38]:
Gender_demographics_df = pd.DataFrame({
    "Tota Count":[count_male,count_female,count_other],
    "Percentage of Players":[male_percentage,female_percentage,other_percentage]
})

In [39]:
Gender_demographics_df.rename(index={0:"Male",1:"Female",2:"Other / Non-Disclosed"}, inplace = True)

In [40]:
Gender_demographics_df["Percentage of Players"] = Gender_demographics_df["Percentage of Players"].map("{:,.2f}%".format)

In [41]:
Gender_demographics_df.style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [42]:
#Purchasing Analysis (Gender)

In [43]:
purchase_count = gender_group["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [44]:
avg_purchase_price = gender_group["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [45]:
total_purchase = gender_group["Price"].sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [46]:
total_gender = gender_group["SN"].nunique()
total_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [47]:
avg_total_purchase_person = total_purchase/total_gender
avg_total_purchase_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [48]:
gender_Purchase_df = pd.DataFrame({"Purchase Count":purchase_count,
                                  "Average Purchase Price":avg_purchase_price,
                                  "Total Purchase Value":total_purchase,
                                  "Avg Total Purchase per Person":avg_total_purchase_person})

In [49]:
gender_Purchase_df["Average Purchase Price"] = gender_Purchase_df["Average Purchase Price"].map("${:,.2f}".format)
gender_Purchase_df["Total Purchase Value"] = gender_Purchase_df["Total Purchase Value"].map("${:,.2f}".format)
gender_Purchase_df["Avg Total Purchase per Person"] = gender_Purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [50]:
gender_Purchase_df.style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [51]:
#Age Demographics

In [52]:
age_bins = [0,9,14,19,24,29,34,39,100]

In [53]:
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [54]:
purchase_data[" "] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups)

In [55]:
grouped_age_df = purchase_data.groupby([" "])

In [56]:
age_group_count = grouped_age_df["SN"].nunique()
age_group_count

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [57]:
age_group_percentage = (age_group_count/total_players)*100
age_group_percentage

<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [59]:
Age_Demographics_df = pd.DataFrame({"Total Count":age_group_count, "Percentage of Players":age_group_percentage})

In [60]:
Age_Demographics_df["Percentage of Players"] = Age_Demographics_df["Percentage of Players"].map("{:,.2f}%".format)

In [61]:
Age_Demographics_df.style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'center')]}])

In [62]:
#Purchasing Analysis (Age)

In [63]:
age_bins = [0,9,14,19,24,29,34,39,100]

In [64]:
age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [65]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups)

In [66]:
grouped_age_df = purchase_data.groupby(["Age Ranges"])

In [67]:
purchase_count = grouped_age_df["Purchase ID"].count()
purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [68]:
avg_purchase_price = grouped_age_df["Price"].mean()
avg_purchase_price

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [69]:
total_purchase_price = grouped_age_df["Price"].sum()
total_purchase_price

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [70]:
avg_total_purchase_per_person = total_purchase_price/age_group_count
avg_total_purchase_per_person

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [71]:
Purchasing_Analysis_Age_df = pd.DataFrame({"Purchase Count":purchase_count,
                                          "Average Purchase Price":avg_purchase_price,
                                          "Total Purchase Value":total_purchase_price,
                                          "Avg Total Purchase per Person":avg_total_purchase_per_person})

In [72]:
Purchasing_Analysis_Age_df["Average Purchase Price"] = Purchasing_Analysis_Age_df["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis_Age_df["Total Purchase Value"] = Purchasing_Analysis_Age_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis_Age_df["Avg Total Purchase per Person"] = Purchasing_Analysis_Age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

In [73]:
Purchasing_Analysis_Age_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
Purchasing_Analysis_Age_df.style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'left')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [74]:
#Top Spenders

In [75]:
grouped_top_spenders_df = purchase_data.groupby(["SN"])

In [76]:
purchase_count = grouped_top_spenders_df["Purchase ID"].count()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [77]:
avg_purchase_price = grouped_top_spenders_df["Price"].mean()
avg_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [78]:
total_purchase_value = grouped_top_spenders_df["Price"].sum()
total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [79]:
Top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": avg_purchase_price,
                            "Total Purchase Value": total_purchase_value})

In [80]:
Top_spenders_df = Top_spenders_df.sort_values(["Total Purchase Value"], ascending=False)

In [81]:
Top_spenders_df["Average Purchase Price"] = Top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
Top_spenders_df["Total Purchase Value"] = Top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

In [82]:
Top_spenders_df.head(5).style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'left')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'center')]}])

In [83]:
#Most Popular Items

In [84]:
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

In [85]:
grouped_items_df = items_df.groupby(["Item ID", "Item Name"])

In [87]:
purchase_count = grouped_items_df["Item ID"].count()

In [88]:
avg_item_price = grouped_items_df["Price"].mean()

In [89]:
total_purchase_value = grouped_items_df["Price"].sum()

In [90]:
 Most_Popular_Items_df = pd.DataFrame({"Purchase Count": purchase_count,
                         "Item Price": avg_item_price,
                         "Total Purchase Value": total_purchase_value})

In [91]:
Most_Popular_Items_df = Most_Popular_Items_df.sort_values(["Purchase Count"], ascending=False)

In [92]:
Most_Popular_Items_df["Item Price"] = Most_Popular_Items_df["Item Price"].map("${:,.2f}".format)
Most_Popular_Items_df["Total Purchase Value"] = Most_Popular_Items_df["Total Purchase Value"].map("${:,.2f}".format)

In [93]:
Most_Popular_Items_df.head(5).style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'left')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [94]:
#Most Profitable Items

In [95]:
Most_Popular_Items_df["Total Purchase Value"] = Most_Popular_Items_df["Total Purchase Value"].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [97]:
Most_Popular_Items_df = Most_Popular_Items_df.sort_values(["Total Purchase Value"], ascending=False)

In [98]:
Most_Popular_Items_df["Total Purchase Value"] = Most_Popular_Items_df["Total Purchase Value"].map("${:,.2f}".format)
Most_Popular_Items_df.head().style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'left')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'left')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])