In [4]:
##PyCity Schools Analysis

In [ ]:
Few observations can be made from the data retrieved from the PycitySchool analysis. 
Firstly, the top five performing schools are all from the charter school type, with a percentage of overall passing scores in math and reading above 95%. Cabrera High school is the best on this list, with an overall passing score of 95.58%.
On the contrary, Ford High school is the worst among the top five performing schools, with an overall passing score of 73.80%.

Secondly, the data also highlights that the performance in math and reading is higher in the lowest spending ranges (per student).

And Thirdly, the small and medium school sizes dramatically out-perform the large ones with an overall passing score of 94.82% and 95.20%, respectively. In comparison, the large ones have a performance of 76.36%.

In [127]:
import pandas as pd
import numpy as np

In [128]:
#District_Summary

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [129]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [130]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [131]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [132]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [133]:
total_schools = school_data_complete["school_name"].nunique()
total_schools

15

In [134]:
total_students = school_data_complete["Student ID"].nunique()
total_students

39170

In [135]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [136]:
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [137]:
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [138]:
passing_math = len(school_data_complete[school_data_complete["math_score"]>=70])
passing_math

29370

In [139]:
passing_reading = len(school_data_complete[school_data_complete["reading_score"]>=70])
passing_reading

33610

In [140]:
percentage_overall_math = (passing_math/total_students)*100
percentage_overall_math

74.9808526933878

In [141]:
percentage_overall_reading = (passing_reading/total_students)*100
percentage_overall_reading

85.80546336482001

In [142]:
percentage_overall_passing = (avg_math_score + avg_reading_score )/2
percentage_overall_passing

80.43160582078121

In [143]:
District_Summary_df = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math_score],
    "Average Reading Score":[avg_reading_score],
    "% Passing Math":[percentage_overall_math],
    "% Passing Reading":[percentage_overall_reading],
    "% Overall Passing":[percentage_overall_passing]
    
})

In [144]:
District_Summary_df["Total Budget"] = District_Summary_df["Total Budget"].map("${:,.2f}".format)

In [145]:
District_Summary_df["Total Students"] = District_Summary_df["Total Students"].map("{:,.0f}".format)

In [146]:
District_Summary_df[["Total Schools",
      "Total Students",
      "Total Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]]

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [147]:
# School Summary

In [150]:
grouped_school_df = school_data_complete.groupby(["school_name"])

In [151]:
School_Type = grouped_school_df["type"].first()

In [152]:
Total_Students = grouped_school_df["Student ID"].count()

In [82]:
Total_School_Budget = grouped_school_df["budget"].first()

In [153]:
Per_Student_Budget = Total_School_Budget / Total_Students

In [154]:
avg_Math_Score = grouped_school_df["math_score"].mean()

In [155]:
avg_Reading_Score = grouped_school_df["reading_score"].mean()

In [156]:
passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()

In [157]:
percentage_overall_math = (passing_math / Total_Students) * 100

In [158]:
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()

In [159]:
percentage_overall_reading = (passing_reading / Total_Students) * 100

In [160]:
percentage_overall_passing = (percentage_overall_math + percentage_overall_reading)/2

In [219]:
School_Summary_df = pd.DataFrame({"School Type" : School_Type,
      "Total Students" : Total_Students,
      "Total School Budget" : Total_School_Budget,
      "Per Student Budget" : Per_Student_Budget,
      "Average Math Score" : avg_Math_Score,
      "Average Reading Score" : avg_Reading_Score,
      "% Passing Math" : percentage_overall_math,
      "% Passing Reading" : percentage_overall_reading,
      "% Overall Passing" : percentage_overall_passing})

In [220]:
School_Summary_df["Total School Budget"] = School_Summary_df["Total School Budget"].map("${:,.2f}".format)
School_Summary_df["Per Student Budget"] = School_Summary_df["Per Student Budget"].map("${:,.2f}".format)

In [221]:
School_Summary_df.style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [222]:
#Top five Performing Schools (By % Overall Passing)
School_Summary_df = School_Summary_df.sort_values(["% Overall Passing"], ascending=False)

In [223]:
School_Summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]]
School_Summary_df.head().style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [224]:
#Bottom five Performing Schools (By % Overall Passing)
School_Summary_df = School_Summary_df.sort_values(["% Overall Passing"], ascending=True)

In [225]:
School_Summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]]
School_Summary_df.head().style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [226]:
#Math Scores by Grade

In [227]:
math_grade_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
math_grade_9th

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [228]:
math_grade_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
math_grade_10th

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [229]:
math_grade_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_grade_11th

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [230]:
math_grade_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()
math_grade_12th

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [231]:
Math_Score_by_Grade_df = pd.DataFrame({"9th": math_grade_9th,
      "10th": math_grade_10th,
      "11th": math_grade_11th,
      "12th": math_grade_12th})

Math_Score_by_Grade_df[["9th", "10th", "11th", "12th"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [232]:
#Reading Score by Grade

In [233]:
reading_grade_9th = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()

In [234]:
reading_grade_10th = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()

In [235]:
reading_grade_11th = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()

In [236]:
reading_grade_12th = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

In [237]:
Reading_Score_by_Grade_df = pd.DataFrame({"9th": reading_grade_9th,
      "10th": reading_grade_10th,
      "11th": reading_grade_11th,
      "12th": reading_grade_12th})

Reading_Score_by_Grade_df[["9th", "10th", "11th", "12th"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [238]:
# Scores by School Spending

In [239]:
bins = [0, 585, 630, 645, 680]

In [240]:
spending_groups = ["<$585", "$585-630", "$630-645", "$645-680"]

In [241]:
School_Summary_df["Per Student Budget"] = School_Summary_df["Per Student Budget"].apply(lambda x: x.replace('$','').replace(',' ,'')).astype('float')

In [242]:
School_Summary_df["Spending Ranges (Per Student)"] = pd.cut(School_Summary_df["Per Student Budget"], bins, labels = spending_groups)

In [246]:
grouped_spending_df = School_Summary_df.groupby(["Spending Ranges (Per Student)"])

In [247]:
School_Spending_Summary_df = grouped_spending_df.mean()

In [248]:
School_Spending_Summary_df["Average Math Score"] = School_Spending_Summary_df["Average Math Score"].map("{:,.2f}".format)
School_Spending_Summary_df["Average Reading Score"] = School_Spending_Summary_df["Average Reading Score"].map("{:,.2f}".format)
School_Spending_Summary_df["% Passing Math"] = School_Spending_Summary_df["% Passing Math"].map("{:,.2f}".format)
School_Spending_Summary_df["% Passing Reading"] = School_Spending_Summary_df["% Passing Reading"].map("{:,.2f}".format)
School_Spending_Summary_df["% Overall Passing"] = School_Spending_Summary_df["% Overall Passing"].map("{:,.2f}".format)

In [249]:
School_Spending_Summary_df[["Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [250]:
#Scores by School Size

In [251]:
bins = [0, 1000, 2000, 5000]

In [252]:
group_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [254]:
School_Summary_df["School Size"] = pd.cut(School_Summary_df["Total Students"], bins, labels = group_size)

In [256]:
school_size_score_df = School_Summary_df.groupby(["School Size"])

In [257]:
school_size_score_summary_df = school_size_score_df.mean()

In [258]:
school_size_score_summary_df[["Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])

In [259]:
#Scores by School Type

In [264]:
school_type_score_df = School_Summary_df.groupby(["School Type"])

In [265]:
school_type_score_summary_df = school_type_score_df.mean()

In [267]:
school_type_score_summary_df[["Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].style.set_table_styles([{'selector': 'td', 'props': [('text-align', 'center')]},
                           {'selector': '.col_heading', 'props': [('text-align', 'center')]},
                           {'selector': '.row_heading', 'props': [('text-align', 'left')]}])